@charset "utf-8";
/* CSS Document */
#container{
	background-attachment: fixed;
		background-image: url("to.jpg");
			background-size: 100%; 
	width: 900px;
	margin: auto;
	
	
}
#banner{
	
	height: 80px;
	
}
#menu{
	
	height: 50px;
	 font-size: 16px;
		color:chocolate;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}
#parte1{
	
	border-style: solid;
	width: 800;
	height: 250px;
}
.box1{
	
	border-style: solid;
	width: 260px;
	float:left;
	height: 150px;
	margin-left: 20px;
	margin-top: 20px;
	padding-top: 5px;
	font-size: 15px;
		color:chocolate;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
			
}
.box1 img{
	width: 100%;
	
	
	
	
}
#parte2{
	border-style: solid;
	width: 800;
	height: 250px;
	
	
}

.box2{
	border-style: solid;
	width: 200px;
	float:left;
	height: 200px;
	margin-left: 150px;
	margin-top: 20px;
	padding-top: 05px;
	font-size: 15px;
		color:chocolate;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
	
	
}
.box2 img{
	width: 100%;
	font-size: 12px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		background-attachment: fixed;
	background-image:url("to.jpg");
		background-size: 100%;
}
